<div class="container">
    <h2>Funcionários</h2> 
    <p>
        <button id="adicionaFuncionarioBtn" class="btn btn-success btn-sm btn-add" 
            title="Adiciona um funcionário" ng-click="adicionar()">
            Funcionário
        </button>
    </p>
    <table class="table table-hover" bf-loading="trackers.carregando"
        data-ng-if="funcionarios.length > 0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefones</th>
                <th width="65"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="funcionario in funcionarios | orderBy: 'nome'">
                <td>{{::funcionario.nome}}</td>
                <td>{{::funcionario.cpf}}</td>
                <td>{{::funcionario.telefones | telefones}}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a title="Editar funcionário" data-ng-click="editar(fundionario)">
                            <i class="fa fa-fw fa-eye"></i>
                        </a>&nbsp;
                        <a title="Excluir este funcionário">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div data-ng-if="trackers.carregando.active() && funcionarios.length === 0">
        <h1 class="text-center">Ainda não há registros por aqui.</h1>
    </div>
</div>